# Write your default config options here!

#vf=screenshot#,eq2=1:1.5:0.2:1.3:0.92:0.9:0.8:1.0
contrast=17
brightness=1
hue=2
saturation=35

# multithread support (only work for .ts ??)
lavdopts:threads=2
#lavdopts:lowres=0:fast=yes:skiploopfilter=none:threads=2

subfont-osd-scale=0.6
panscanrange=-0.2

# to use nVidia vdpau hardware acceleration
# must disable vf
#vo=vdpau # not necessary
#vc=ffh264vdpau
vf=screenshot

# for chinese subtitle suport
#subcp=cp936
subcp=utf-8
font=/home/me/.fonts/msyh.ttf
subfont-text-scale=1.0
#subfont-text-scale=1.5
fontconfig=0
sub-fuzziness=1
